<!DOCTYPE html>
<!-- this file can be called anything.-->
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>pull up</h1>
    <!-- content doesn't show if no value given in python-->
    <p>{{content}}</p>
    <p>hi</p>
    <!--can write python code-->
    {% for x in range(0,10) %}
        {% if x % 2 == 1 %}
            <p>HIIIIIIII LOOPED</p>
            <p>{{x}}</p>
        {% endif %}
    {% endfor %}
</body>
</html>